<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Mi App Dinámica</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <h1 class="welcome-message">bienvenidos cracks!</h1>
        <p>inicio</p>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
        </nav>
        <p>Visitas a esta página: <span id="visitCount">0</span></p>
        <button onclick="alert('ulalalala!')">Presiona aquí</button>
    </div>
    <script src="/js/scripts.js"></script>
</body>
</html>
